// sidebar
$menuText: black;
$menuActiveText:#409EFF;
$subMenuActiveText: #409EFF;

$menuBg: rgb(233,238,243);
$menuHover: rgb(211,220,230);

$subMenuBg: rgb(233,238,243);
$subMenuHover: rgb(211,220,230);

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
