@import "https://at.alicdn.com/t/font_2345798_7o3tjbunga4.css";
@import "../css/reset.css";

@media screen and (min-width: 1200px) {
  .set_background {
    position: fixed;
    top: 0;
    z-index: -2;
    background: url("../userhome/7.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .set_background {
    position: fixed;
    top: 0;
    z-index: -2;
    background: url('../userhome/7foripad.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .set_background {
    position: fixed;
    top: 0;
    z-index: -2;
    background: url('../userhome/7forphone.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 600px) {
#line{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.applogin-container .nav_set{
  margin: 0px 160px;
}
.applogin-container .nav_set .nav_set_left ul li{
  float: left;
  color: #ffffff;
  padding: 10px 20px;
  margin: 6px 20px;
  font-weight: bold;
  font-size: 1.2em;
}
.applogin-container .nav_set .nav_set_right ul li button:hover,.applogin-container .nav_set .nav_set_left ul li:hover{
  border-radius: 16px;
  background: #4169e1;
  box-shadow: 0px 0px 8px 4px #4169e1;
  cursor: pointer;
}
.applogin-container .nav_set .nav_set_right ul li button{
  float: right;
  color: #ffffff;
  padding: 10px 20px;
  margin: 6px 20px;
  font-weight: bold;
  font-size: 1.2em;
}
.applogin-container h1 i{
  font-size: 2.2rem;
}
.applogin-container h1{
  position: absolute;
  font-weight: bold;
  bottom: 18%;
  left: 24.9%;
  overflow: hidden;
  font-size: 2.8rem;
  font-style: oblique;
  background-image: -webkit-linear-gradient(left,green,yellow,pink, #409EFF, red 25%,green 35%,
  #409EFF 50%,yellow 60%, red 75%, pink 85%,#409EFF 70%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: stream 18s infinite linear;
  background-size: 200% 100%;
  -webkit-box-reflect: below -2px -webkit-linear-gradient(transparent, transparent 10%, rgba(255, 255, 255, .6));
}
@keyframes stream {
  0%  {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.applogin-container .el-dialog{
  border-radius: 24px;
}
.applogin-container .el-dialog__title{
  text-align: center;
  font-weight: bold;
}
.applogin-container .el-input{
  width: 90%;
}
.applogin-container .el-form-item__label{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.applogin-container .el-button+.el-button{
  margin-left: 38px;
}
.applogin-container .set_login .el-input__inner:hover,.applogin-container .set_register .el-input__inner:hover{
  box-shadow: 0px 0px 8px 4px rgb(64 158 255);
}
.applogin-container .set_login .el-input__inner:focus,.applogin-container .set_register .el-input__inner:focus{
  box-shadow: 0px 0px 1px 1px #4169e1;
}
.applogin-container .set_login .divgetPwd{
  display: inline;
  position: absolute;
  right: 10%
}
}